{% set editor = inputs[np + "editor"] %}
<h3 class="like-label">{{editor.title}}</h3>{% if editor.hint is not empty %} <i data-placement="right" title="" data-toggle="tooltip" data-original-title="{{editor.hint}}" class="fa fa-info-circle txt-transform-reset"></i>{% endif %}
<textarea id="{{ editor.name }}" class="tinymce" name="{{ editor.name }}" data-editor="tinymce">{{editor.data | raw}}</textarea>