{% set fieldName = np + '_' + input.name %}
<div class="form-group form-group-default required">
    <label>{{input.title}}</label>{% if input.hint is not empty %} <i data-placement="right" title="" data-toggle="tooltip" data-original-title="{{input.hint}}" class="fa fa-info-circle txt-transform-reset"></i>{% endif %}
    <input type="text" class="form-control" name="{{fieldName}}" id="{{fieldName}}" value="{{data[fieldName]}}">
</div>