<div class="l-container">
    <div class="row">
        <div class="col-md-12">
            <div class="content-container">
                <div class="row">
                    <div class="col-md-12">
                        <form action="/login" method="post">
                            <fieldset>
                                <legend>{{ message('sign in to your account') | capitalize }}</legend>
                                <!-- use param.error assuming FormLoginConfigurer#failureUrl contains the query parameter error -->

                                {% if get.error is not null %}
                                    <div class="alert alert-danger">
                                        <h4>{{ message("login failed") | capitalize }}.</h4>
                                        <p>{{session.getAttribute("SPRING_SECURITY_LAST_EXCEPTION")}}</p>
                                    </div>
                                {% endif %}
                                {% if get.logout is not null %}
                                    <div class="alert alert-info">
                                        <p>{{ message('you have been logged out') | capitalize }}.</p>
                                    </div>
                                {% elseif get.sessionExpiration is not null %}
                                    <div class="alert alert-warning">
                                        <p>{{ message('your session has expired, please login again') | capitalize }}.</p>
                                    </div>
                                {% endif %}
                                {% if request.userPrincipal.authenticated %}
                                    {{ message("logged as") | capitalize }} : {{ user.email }}
                                {% else %}
                                    <p>
                                        <label for="username">{{  message('username') | capitalize }}</label>
                                        <input type="text" id="username" name="username"/>
                                    </p>
                                    <p>
                                        <label for="password">{{   message('password') | capitalize }}</label>
                                        <input type="password" id="password" name="password"/>
                                    </p>
                                    <p>
                                        <label for="remember-me">{{   message('remember me') | capitalize }}?</label>
                                        <span class='checkbox-container'>
                                            <input type="checkbox" id="remember-me" name="remember-me"/>
                                        </span>
                                    </p>
                                    <p>
                                        <button type="submit" class="btn btn-success">{{   message('log in') | capitalize }}</button>
                                    </p>
                                    {{ csrf | raw }}
                                {% endif %}
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
